<section class="about">
    <div class="container">
        <h2>About Us</h2>
        <p>
            We are a team of healthcare professionals dedicated to providing the
            best possible care for our patients.
        </p>
        <a href="#" class="btn-secondary">Learn More</a>
    </div>
</section>