<title>Healthcare Website</title>
<link rel="stylesheet" type="text/css" href="/public/default/level1/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />